.country-item {
  &-body {
    * {
      .light & {
        color: $color-black;
      }

      .dark & {
        color: $color-white;
      }
    }

    .light & {
      background-color: $color-white;
    }

    .dark & {
      background-color: $color-grey;
    }
  }
}
